html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.startButton {
    display: block;
    position: absolute;
    top: 50%; /* どんぶりの上に配置 */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    border: 2px solid #333;
}
.counter {
    position: absolute;
    top: 80%; /* どんぶりの上部に配置 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}
.timer {
    position: absolute;
    top: 75%; /* counterの下に配置 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    height: calc(100dvh - 2px);
}
